<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Bike Tracker</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" data-collapse="!navbarExpanded">        
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-authenticated">
               <div data-ng-include="'/app/login/login.html'"></div>      
            </ul>
        </div>
    </div>
</nav>